<div id="sudoku-play-wrapper" data-bind="fade: isPaused">
    <span id="sudoku-play" data-bind="click: play"></span>
</div>
<h2 class="sudoku-header">
    <span id="sudoku-difficulty" data-bind="text: currentDifficulty">Medium</span>
    <span id="sudoku-clock" data-bind="text: TimerViewModel.time"></span>
    <span id="sudoku-pause" data-bind="click: pause"></span>
</h2>
<table id="sudoku-normal-board" data-bind="template: { name: 'board', data: BoardViewModel }">
</table>
<div class="button-container">
    <button data-bind="click: function () { generate('Easy') ; }" class="bg-white">Easy</button>
    <button data-bind="click: function () { generate('Medium') ; }" class="bg-yellow">Medium</button>
    <button data-bind="click: function () { generate('Hard') ; }" class="bg-red">Hard</button>
	<button data-bind="click: function () { generate('MPS') ; }" class="bg-white">MPS Level</button>
</div>
<div class="button-container">
    <button class="bg-blue" data-bind="click: solve">Solve</button>
    <button class="bg-green" data-bind="click: finish">Finished</button>
</div>