<div id="loader">
    <table>
        <tr>
            <td data-bind="text: numbers[0]"></td>
            <td data-bind="text: numbers[1]"></td>
            <td data-bind="text: numbers[2]"></td>
        </tr>
        <tr>
            <td data-bind="text: numbers[3]"></td>
            <td data-bind="text: numbers[4]"></td>
            <td data-bind="text: numbers[5]"></td>
        </tr>
        <tr>
            <td data-bind="text: numbers[6]"></td>
            <td data-bind="text: numbers[7]"></td>
            <td data-bind="text: numbers[8]"></td>
        </tr>
    </table>
    <div id="loader-extra">
        <p data-bind="text: content"></p>
        <button data-bind="click: retry" class="bg-blue">Close</button>
    </div>
</div>