@font-face {
    font-family: Squares;
    src: url('../fonts/Squares Bold Free.otf');
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::selection {
    background: rgba(255, 255, 255, 0.5);
}

body {
    background: url('../images/background1.jpg');
    font-family: Squares;
    color: white;
    text-align: center;
}

.container {
    display: inline-block;
    position: relative;
    text-align: left;
}

.header {
    text-shadow: 2px 2px #000;
    margin: 20px 5px;
}

.header:after {
    content: "";
    display: block;
    clear: both;
}

.header span:nth-of-type(1) {
    float: left;
}

.header span:nth-of-type(2) {
    float: right;
}

.sudoku-cell {
    font-size: 16px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2) inset, 0 4px 0 black, 0 -2px 2px rgba(255, 255, 255, 0.2) inset;
    transition: all 0.25s;
}

.sudoku-cell-blocked {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 transparent;
}

.sudoku-cell input {
    width: 1.5em;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: Squares;
    font-size: 16px;
    color: white;
    text-align: center;
}

.button-container {
    text-align: center;
}

button {
    border: 0;
    margin: 5px;
    outline: 0;
    font-family: Squares;
    font-size: 16px;
    color: white;
    text-align: center;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 0 black, 0 -2px 2px rgba(255, 255, 255, 0.2) inset;
    transition: all 0.25s;
}

button:active {
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2) inset, 0 2px 0 black, 0 -2px 2px rgba(255, 255, 255, 0.2) inset;
}

.bg-red {
    background: rgba(255, 20, 20, 0.25);
}

.bg-yellow {
    background: rgba(255, 255, 20, 0.25);
}

.bg-green {
    background: rgba(20, 255, 20, 0.25);
}

.bg-white {
    background: rgba(255, 255, 255, 0.25);
}

.bg-blue {
    background: rgba(0, 49, 102, 0.8);
}

@media screen and (min-width: 480px) {
    .sudoku-cell {
        width: 50px;
        height: 50px;
        min-width: 35px;
    }
    button {
        width: 100px;
        height: 40px;
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    
    color: #003366;
    background: white;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 200px;
    margin: -100px 0 0 -125px;
    z-index: 1500;   
}

#loader table {
    width: 100px;
    height: 100px;
    margin: 0 75px;

    animation:spin-board 5s 1s ease-in-out alternate infinite;
}

#loader td {
   animation:spin-cell 5s 1s ease-in-out alternate infinite;
}

@keyframes spin-board { 
    0% { transform: rotate(0deg); transform:rotate(0deg); }
    20% { transform: rotate(90deg); transform:rotate(90deg); }
    30% { transform: rotate(90deg); transform:rotate(90deg); }
    45% { transform: rotate(180deg); transform:rotate(180deg); }
    55% { transform: rotate(180deg); transform:rotate(180deg); }
    70% { transform: rotate(270deg); transform:rotate(270deg); }
    80% { transform: rotate(270deg); transform:rotate(270deg); }
    100% { transform: rotate(360deg); transform:rotate(360deg); }
}


@keyframes spin-cell { 
    0% { transform: rotate(360deg); transform:rotate(360deg); }
    20% { transform: rotate(270deg); transform:rotate(270deg); }
    30% { transform: rotate(270deg); transform:rotate(270deg); }
    45% { transform: rotate(180deg); transform:rotate(180deg); }
    55% { transform: rotate(180deg); transform:rotate(180deg); }
    70% { transform: rotate(90deg); transform:rotate(90deg); }
    80% { transform: rotate(90deg); transform:rotate(90deg); }
    100% { transform: rotate(0deg); transform:rotate(0deg); }
}


#modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    
    display: none;
	z-index: 1000;
}

#modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10px auto;
	padding: 10px;
	background: rgba(0,0,0,0.7);
}

@media screen and (max-width: 479px) {
    .sudoku-cell {
        width: 35px;
        height: 35px;
        min-width: 20px;
    }
    button {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}